:root {
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

* {
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 25px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

.add>form {
  display: grid;
  flex-direction: column;
  row-gap: 10px;
  width: 40%;
  margin: 20px auto;
}

input {
  padding: 5px;
}

.home-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}


.add input[type="publish"] {
  padding: 5px;
  margin-right: 10px;
}


.add input[type="submit"] {
  padding: 5px 10px;
  background-color: #646cff;
  color: #fff;
  border: none;
  cursor: pointer;
}


.add input[type="submit"]:hover {
  background-color: #535bf2;
}

.search {
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.search form {
  align-items: center;
  margin-bottom: 20px;
}

.search input[type="search"] {
  padding: 5px;
  margin-right: 10px;
}

.search input[type="submit"] {
  padding: 5px 10px;
  background-color: #646cff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.search input[type="submit"]:hover {
  background-color: #535bf2;
}
