@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

/* Other CSS rules go here */

:root {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.87);
    background-color: #d3efff;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #4c4848;
    padding: 10px;
}

.navbar-link {
    display: flex;
    gap: 40px;
}

.navbar-link a {
    color: #fff;
    text-decoration: none;
}

.navbar-link a:hover {
    color: #ddd;
}

.post {
    margin: 20px 0px 0px 190px;
    border: 1px solid #ccc;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

form {
    display: flexbox;
    flex-direction: column-reverse;
}

input[type="text"],
textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"] {
    width: 100%;
}

textarea {
    width: 100%;
}

input[type="submit"] {
    background-color: #04ff00;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.posted-post {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.posted-post h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.posted-post p {
    margin-bottom: 8px;
}

.home-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.search {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.search form {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 16px;
    /* Added font-size suggestion */
    color: #fff;
    /* Added color suggestion */
}

.search input[type="search"] {
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    outline: none;
}

.search input[type="submit"] {
    background-color: #1cd83c;
    margin-top: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    /* Added transition property */
}

.search input[type="submit"]:hover {
    background-color: #535bf2;
}

.search p {
    font-size: 20px;
    color: #0a0a0a;
    position: fixed;
    bottom: 70px;
}
